# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment directories
env/
venv/

# Environment and configuration files
.env
.env-*

# Ignore specific files
start.sh

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and temporary files
*.log
*.pot

# Editor-specific files
.vscode/
.idea/
*.sublime-*

# System files
.DS_Store
Thumbs.db

# Sphinx documentation build directory
docs/_build/
